{% extends 'main_design.html' %}
{% load static %}

{% block content %}
    <div>
        <h2>{{ page_title }}</h2>
    </div>

    <form method="post" action=event-creator>{% csrf_token %}
        <div class="jumbotron text-left">
            <div class="row">
                <div class="col-sm-3">
                    {% for item in items %}
                        <div class="radio">
                            <label><input type="radio" name="r-item" class="rg" id="{{ item.id }}" value="{{ item.id }}">
                                <b> {{ item.name }}</b> <i>{{ item.price }}</i>
                            </label>
                        </div>
                    {% endfor %}
                </div>


                <div class="col-sm-9">
                    <img src="{% load static %}" class="img-responsive img-circle margin text-center" id="item-img" hidden
                         style="display:inline" alt="" width="350" height="350">
                    <div class="text">
                        <p id="item-description">Chose item</p>
                        <p id="item-address"></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-offset-11">
            <button type="submit" id="btn-next" class="btn btn-success" disabled>Далее</button>
        </div>
    </form>

{% endblock content %}


{% block import %}
    <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'></script>
    <script>
        $(".rg").change(function () {
            {% for item in items %}
                if ($("#{{ item.id }}").attr("checked")) {
                    $("#item-img").attr("src", "{{ item.img.url }}");
                    $("#item-description").text("{{ item.description }}");
                    $("#item-address").text("{{ item.address }}");
                    $("#btn-next").removeAttr('disabled');
                };
            {% endfor %}
        });
    </script>
{% endblock import %}


